<%- include('partials/header'); %>


<div class="container">
    <a href="/register" class="btn btn-lg btn-success">SignUp</a>
    <a href="/login" class="btn btn-lg btn-success">Login</a>
    <a href="/login/facebook" class="btn btn-lg btn-success">Login with Facebook</a>
    <a href="/login" class="btn btn-lg btn-success">Login</a>
    <a href="/login" class="btn btn-lg btn-success">Login</a>
</div>






<%- include('partials/footer'); %>